@model TouristInformation.Models.HotelRating

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <h4>Oceny Hotelu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <label>Id Użytkownika</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            <label>Komentarz</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            <label>Ocena</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            <label>Hotel</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edytuj</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
